html,body {
    overflow-x: hidden;
    width: 100%;
}

.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.navbar {
    z-index: 999;
}

/* colors for navbar */
.navbar-default .navbar-brand .blue
{
    color: #537fbe;
}
.navbar-default .navbar-brand .red
{
    color: #ea433b;
}
.navbar-default .navbar-brand .yellow
{
    color: #f5b82e;
}
.navbar-default .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

#input-description {
    width:598px !important;
    text-align: left;
}

input {
    background-color: rgba(244,244,244,1) !important;
    border:none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

main td
{
    /* left-align tables' cells */
    text-align: left;
}

main #login {
    border-radius: 8px;
    padding: 125px;
    padding-top: 45px;
    padding-bottom: 90px;
    background-color: white;
    position: absolute;
    left: 50%; top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo {
    margin-bottom: 20px;
    font-size:60px;
}

#navigation {
    background-color: #FFF !important;
    border-radius: 0 !important;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.userInput {
    width: 20px;
	height: 20px;



}

.othername {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile:focus + label,
.inputfile + label:hover {
    color: #333;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

#searchbar {
    margin:7px;
    max-width:95%;
}

#input_description {
    width: 90% !important;
    height: 80px !important;
    margin-left: auto;
    margin-right: auto;
}

#body_login {
    background: url(https://source.unsplash.com/1000x1000/);
    background-repeat: no-repeat;
    background-size: 100%;
}

#input {
    width:200px !important;
    height: 40px;
}


.btn {
     width:200px !important;
     background-color:black;
     color:white;
     height:40px;
     margin-top: 5px;
}

.btn-red {
    width:200px !important;
    background-color:#cc0000;
    color:white;
    height:40px;
    margin-top: 5px;
}
.imagetiles .col-lg-3.col-md-3.col-sm-3.col-xs-6 {
  padding: 10px !important;
}

#collage {
    float:right;
    max-width: 70%;
    margin-top: 0px;
}

#user {
    float:left;
    max-width: 25%;
    margin-left: 25px;
    margin-top: 7px;
}

#profile_wrapper {
    overflow:auto;
    margin-left:15px;
    margin-top: 50px !important;
}

.img-responsive-home {
    /*border: 0.5px solid lightgray;*/
    object-fit: cover;
    min-width: 400px !important;
    min-height:350px !important;
    max-width: 650px !important;
    max-height: 450px !important;
    /*border-radius: 8px;*/
}

.img-responsive {
    border: 0.5px solid lightgray;
    object-fit: cover;
    width:250px !important;
    height:250px !important;
    border-radius: 8px;
}

.profile-picture {
    object-fit: cover;
    width: 150px !important;
    height: 150px !important;
    border-radius: 50%;
    border: 0.5px lightgray;
}

.imagetiles {
    margin:5px;
}

#random_image {
    margin-top:50px;
    border-radius: 8px;
    position: absolute;
    left: 50%; top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(246,246,246,1);
    padding-top:25px;
    padding-bottom:25px;
}

#like-span-button, #dislike-span-button {
    font-size: 3em;
    color:black;
}

.skip_button {
    margin-bottom: 10px;
    margin-top: 20px;
    display: block;
    width: 200px !important;
    background-color: black;
    color: white;
    height: 40px;
}

.like-btn:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);

}

.like-btn:hover > #like-span-button {
    color:white !important;
}

.dislike-btn:hover {
    background-color: rgba(237, 91, 107, 1);
    box-shadow: 0px 15px 20px rgba(237, 91, 107, 0.4);
    color: #fff;
    transform: translateY(-7px);

}

.dislike-btn:hover > #dislike-span-button {
    color:white !important;
}

.float-button {
    position:fixed;
 	width:80px;
 	height:80px;
 	bottom:40px;
 	right:40px;
 	background-color: rgba(0,122,255,0.75);;
 	color:#FFF;
 	border-radius:50px;
 	text-align:center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
 	text-decoration: none !important;
 	z-index: 999;
 	transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.float-button:hover {
    background-color: rgba(0,122,255,1);
    box-shadow: 0px 15px 20px rgba(0,122,255,0.4);;
    color: #fff;
    transform: translateY(-7px);
}

.like-btn {
    position: absolute;
    left:125px;
    top:45%;
    border-radius:100%;
    height:150px;
    width:150px !important;
    background-color:white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.dislike-btn {
    position: absolute;
    right:125px;
    top:45%;
    border-radius:100%;
    height:150px;
    width:150px !important;
    background-color:white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}


.camera-button {
    margin-top:23px !important;
    font-size: 2em;
}

.photo_modal {
    background-color: white;
    border: 0px;
}

.modal-label {
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.modal-label:hover {
    box-shadow: 0px 15px 20px rgba(50, 50, 50, 0.4);
    transform: translateY(-7px);
}

.col-5 img {
    padding: 5px;
    border-radius: 8px;
}

.description-post {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: left;
    padding-left: 25px;
}

.bottom-description {
    position: relative;
    top: -50%;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    text-align: left;
    padding-left: 25px;
    margin-bottom: 25px;
}

#mobile-like {
    color:green;
}

#mobile-dislike {
    color:red;
}

@media only screen and (min-width: 800px) {
    #mobile-like, #mobile-dislike {
        display: none;
    }

    #like, #dislike {
        display: inline-block;
    }

    .trending-image {
         width: 200px;
         height: 200px;
     }
}

@media only screen and (max-width: 800px) {

    summary, #summary-detail {
        margin-left:auto;
        margin-right:auto;
        max-width: 50%;
    }

    #body_login {
        background: url(https://source.unsplash.com/1000x4000/) ;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    #mobile-like, #mobile-dislike {
        display: inline-block;
    }

    #like, #dislike {
        display: none;
    }

    .img-responsive-home {
        width: 400px;
        height: 400px;
    }

    .btn {
        width: 0px;
        max-width:120px !important;
    }

    #random_image {
        margin-top:-10px;
    }

    #explore-title h1 {
        visibility: hidden;
    }

    #collage {
         float: none;
         width: 100% !important;
         max-width: 100% !important;
         margin-top: 50px;
     }

      #user {
         float: none;
         width: 100% !important;
         max-width: 100% !important;
         margin-left: 0px;
     }

      #account-image {
         width: 150px !important;
         height: 150px !important;
     }

      .trending_modal {
        margin-left:0;
        margin-right:0;
     }

     .trending-image {
         width: 100% !important;
     }

     .btn-fav-explore {
        max-width: 100% !important;
        min-width: 370px;
     }
}

.button-images {
    margin-bottom:50px;
}

#timeline-title {
    margin-bottom: 50px !important;
}

.button-images button {
  cursor: pointer;
  width: 100%;
  display: block;
}

.button-images img {
    object-fit: cover;
    min-width:400px !important;
    min-height:400px !important;
    max-width: 650px !important;
    max-height: 650px !important;
    border-radius: 0;
}

.timeline-description {
    text-align: left;
    padding-left: 25px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.timeline-container {
    background-color: rgba(246,246,246,1);
    border-radius: 8px 8px 0px 0px;
    padding-top:25px;
    padding-bottom:25px;
}

.timeline-bottom {
    text-align: left;
    padding-left: 25px;
    position: relative;
    top: 50%;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
}

.btn-fav {
    margin-left:auto;
    margin-right: auto;
    width: 400px !important;
    max-width:400px !important;
    margin-top: -8px !important;
    border-radius: 0px 0px 8px 8px;
}
#score {
    float:right;
    padding-right: 25px
}

#score-profile {
    padding-right: 0px !important;
    float:right;
}

#explore-title h1 {
    margin-top: 5px !important;
}

#close-pic {
    position: fixed;
    right:40px;
    background-color: white;
    border:0px;
}

#account-photo-modal {
     background-color: rgba(246,246,246,1);
     padding: 20px;
     border-radius: 8px;
     margin-bottom: 25px;
 }

  .account-photo-description {
     text-align: left;
     margin-left: 10px;
     position: relative;
     top: 30%;
     transform: translateY(-30%);
     -webkit-transform: translateY(-30%);
 }

  .account-photo-bottom-description {
     text-align: left;
     margin-left: 10px;
     position: relative;
     top: 50%;
     transform: translateY(50%);
     -webkit-transform: translateY(50%);
 }

  #account-image {
     width: 200px !important;
     height: 200px !important;
 }

  .account-wrapper {
     width: 100%;
     margin-left: 0px !important;
     margin-right: 0px;
     padding-left: 0px;
     padding-right: 0px;
 }

 .trending_modal {
    margin: 25px;
 }

 .summary {
     cursor: pointer;
 }

 /*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

#modal-image-timeline {
    max-width:100%;
}

#follow {
    margin-bottom: 20px;
}

summary {
  background: rgba(246,246,246,1);
  color: black;
  border-radius: 3px;
  padding: 10px 10px;
  outline: none;
  margin-bottom: 10px;
}

details[open] summary {
  background: rgba(220,220,220,1);
  color: #333;
}

#summary-detail {
    padding: 5px;
    border: 1px solid rgb(246, 246, 246);
    border-radius: 5px;
}

#succes-favorite-alert, #fail-favorite-alert {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

#no-pictures {
    margin-top: 200px;
}