.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.navbar {
    z-index: 999;
}

/* colors for navbar */
.navbar-default .navbar-brand .blue
{
    color: #537fbe;
}
.navbar-default .navbar-brand .red
{
    color: #ea433b;
}
.navbar-default .navbar-brand .yellow
{
    color: #f5b82e;
}
.navbar-default .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

main td
{
    /* left-align tables' cells */
    text-align: left;
}

main #login {
    border-radius: 8px;
    padding: 125px;
    padding-top: 45px;
    padding-bottom: 90px;
    background-color: white;
    position: absolute;
    left: 50%; top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo {
    margin-bottom: 20px;
    font-size:60px;
}

#navigation {
    background-color: #FFF !important;
    border-radius: 0 !important;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.userInput {
    width: 20px;
	height: 20px;



}

.othername {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile:focus + label,
.inputfile + label:hover {
    color: #333;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

#searchbar {
    margin:7px;
    max-width:95%;
}

#body_login {
    background: url(https://source.unsplash.com/1000x1000/) ;
    background-repeat: no-repeat;
    background-size: 100%;
}

#input {
    width:200px !important;
}

.btn {
     width:200px !important;
     background-color:black;
     color:white;
     height:40px;
}

.imagetiles .col-lg-3.col-md-3.col-sm-3.col-xs-6 {
  padding: 10px !important;
}

#collage {
    float:right;
}

#user {
    float:left;
}

#profile_wrapper {
    overflow:auto;
    margin-left:15px;
}

.img-responsive-home {
    /*border: 0.5px solid lightgray;*/
    object-fit: cover;
    min-width: 400px !important;
    min-height:350px !important;
    max-width: 650px !important;
    max-height: 450px !important;
    /*border-radius: 8px;*/
}

.img-responsive {
    border: 0.5px solid lightgray;
    object-fit: cover;
    width:250px !important;
    height:250px !important;
    border-radius: 8px;
}

.profile-picture {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.imagetiles {
    margin:5px;
}

#random_image {
    margin-top:50px;
    border-radius: 8px;
    position: absolute;
    left: 50%; top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(246,246,246,1);
    padding-top:25px;
    padding-bottom:25px;
}

.like_buttons {
    margin-bottom: 10px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.float-button {
    position:fixed;
 	width:60px;
 	height:60px;
 	bottom:40px;
 	right:40px;
 	background-color: rgba(0,122,255,1);
 	color:#FFF;
 	border-radius:50px;
 	text-align:center;
 	box-shadow: 2px 2px 2px #999;
 	text-decoration: none !important;
}

.camera-button {
    margin-top:15px !important;
}

.photo_modal {
    background-color: white;
    border: 0px;
}

.col-5 img {
    padding: 5px;
    border-radius: 8px;
}

.description-post {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: left;
    padding-left: 25px;
}

.bottom-description {
    position: relative;
    top: -50%;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    text-align: left;
    padding-left: 25px;
}

@media only screen and (max-width: 800px) {

    .img-responsive-home {
        width: 400px;
        height: 400px;
    }

    .btn {
        width: 0px;
        max-width:120px !important;
    }

    #random_image {
        margin-top:-10px;
    }

    #explore-title h1 {
        visibility: hidden;
    }
}

.button-images {
    margin-top:50px;
}

.button-images button {
  cursor: pointer;
  width: 100%;
  display: block;
}

.button-images img {
    object-fit: cover;
    min-width:400px !important;
    min-height:400px !important;
    max-width: 650px !important;
    max-height: 650px !important;
    border-radius: 0;
}

.timeline-description {
    text-align: left;
    padding-left: 25px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.timeline-container {
    background-color: rgba(246,246,246,1);
    border-radius: 8px;
    padding-top:25px;
    padding-bottom:25px;
}

.timeline-bottom {
    text-align: left;
    padding-left: 25px;
    position: relative;
    top: 50%;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
}

#score {
    float:right;
    padding-right: 25px
}

#explore-title h1 {
    margin-top: 5px !important;
}

#close-pic {
    position: fixed;
    right:40px;
    background-color: white;
    border:0px;
}