{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block main %}
<div id="profile_wrapper">
    <div id="user">
        <h1><b>{{ name }}</b></h1>
        {% for follower in followers %}
             <p>{{ follower }}</p>
        {% endfor %}
    </div>
    <div class="container" id="collage">
    <div class="row imagetiles">

            {% for upload in photos %}
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <img src={{ upload }} class="img-responsive">
                </div>
            {% endfor %}

    </div>
</div>
</div>
{% endblock %}