{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block main %}
<div id="profile_wrapper" class="account-wrapper">
    <div id="user">
        <img src="{{ profile_pic }}" class="profile-picture" data-toggle="modal" data-target="#photomodal_profile">
        <h1><b>{{ name }}</b></h1>
        <p><b>Followers:</b></p>
        {% for follower in followers %}
            <a href="{{ url_for('profile', username= follower) }}"><p>{{ follower }}</p></a>
        {% endfor %}

        <p><b>Following:</b></p>
        {% for a in following %}
            <a href="{{ url_for('profile', username= a) }}"><p>{{ a }}</p></a>
        {% endfor %}

    </div>

    <!--Modal for posts-->
    <div class="container" id="collage">
    <div class="row imagetiles">
        {% for upload in photos %}
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <button name="modal" class="photo_modal" id="account-photo-modal" data-toggle="modal" data-target="#photomodal{{ upload.id }}">
                <label for="modal">
                    <div class="account-photo-description">
                        <label id="timestamp">{{ upload.timestamp }} </label>
                        <label id="score">{{ upload.score }} <span class="glyphicon glyphicon-eye-open"></span></label>
                    </div>
                    <img src="/upload/{{ upload.upload }}" class="img-responsive" id="account-image">
                    <div class="account-photo-bottom-description">
                        <label id="discription">{{ upload.description }} </label>
                    </div>
                </label>
            </button>

            <div class="modal fade" id="photomodal{{ upload.id }}" tabindex="-1" role="dialog" aria-labelledby="photomodaltitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-8"><h4 class="modal-title" id="username">{{ upload.username }} </h4></div>
                                <div class="col-sm-2"><button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button></div>
                            </div>

                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-8"><h5 class="modal-title" id="timestamp">{{ upload.timestamp }}</h5></div>
                                <div class="col-sm-2">
                                    <h5>{{ upload.score }} <span class="glyphicon glyphicon-eye-open"></span></h5>
                                </div>
                            </div>
                        </div>

                        <div class="modal-body">
                            <p><img src=/upload/{{ upload.upload }}></p>
                            <p>{{ upload.description }}</p>
                        </div>

                        <div class="modal-footer">
                            <button id="remove" onclick="removeButtonClicked({{ upload.user_id }}, {{ upload.id }})" class="btn btn-dark">Remove <span class="glyphicon glyphicon-trash"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    </div>

    <!--Modal for profile picture-->
    <div class="modal fade" id="photomodal_profile" tabindex="-1" role="dialog" aria-labelledby="photomodaltitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-sm-2"><button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button></div>
                    </div>
                </div>

                <div class="modal-body">
                  <img src="{{ profile_pic }}">
                </div>

                <div class="footer">
                    {% if has_pp is sameas true %}
                    <form action="/uploadprofilepic" method="post" enctype="multipart/form-data" >
                        <input type="file" name="pf" id="pf" class="inputfile" onchange="form.submit()" />
                        <label for="pf" class="btn btn-dark">Change <span class="glyphicon glyphicon-refresh"></span></label>
                    </form>
                    <button id="remove" onclick="removeProfilePicButtonClicked('{{ profile_pic }}')" class="btn btn-dark">Remove <span class="glyphicon glyphicon-trash"></span></button>
                    {% else %}
                    <form action="/uploadprofilepic" method="post" enctype="multipart/form-data" >
                        <input type="file" name="pf" id="pf" class="inputfile" onchange="form.submit()" />
                        <label for="pf" class="btn btn-dark">Upload <span class="glyphicon glyphicon-upload"></span></label>
                    </form>
                    <font size="1">Photo by <a href src="https://unsplash.com/">Unsplash</a></font>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}