{% extends "layout.html" %}

{% block title %}
    Favourites
{% endblock %}

{% block main %}
<div class="container-title" id="timeline-title">
    <h1><b>Favourites</b></h1>
</div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
       {% for post in favourites %}
       <button name="modal" class="photo_modal trending_modal modal-label" id="account-photo-modal" data-toggle="modal" data-target="#photomodal{{ post.id }}">
            <label for="modal">
                <div class="account-photo-description">
                    <a href="{{ url_for('profile', username= post.username) }}"><label id="username">{{ post.username }} </label></a>
                    <label id="timestamp">{{ post.timestamp }} </label>
                    <label id="score-profile">{{ post.score }} <span class="glyphicon glyphicon-eye-open"></span></label>
                </div>
                <img src="/upload/{{ post.upload }}" class="img-responsive trending-image">
                <div class="account-photo-bottom-description">
                    <label id="discription">{{ post.description }} </label>
                </div>
            </label>
        </button>

        <div class="modal fade" id="photomodal{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="photomodaltitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8"><a href="{{ url_for('profile', username= post.username) }}"><h4 class="modal-title" id="username">{{ post.username }} </h4></a></div>
                            <div class="col-sm-2"><button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button></div>
                        </div>

                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8"><h5 class="modal-title" id="timestamp">{{ post.timestamp }}</h5></div>
                            <div class="col-sm-2">
                                <h5>{{ post.score }} <span class="glyphicon glyphicon-eye-open"></span></h5>
                            </div>
                        </div>
                    </div>

                    <div class="modal-body">
                        <p><img src="/upload/{{ post.upload }}"></p>
                        <p>{{ post.description }}</p>
                    </div>

                    <div class="modal-footer">
                        <button id="remove_favourite" onclick="removeFavouriteButtonClicked({{ user_id }}, {{ post.id }})" class="btn btn-dark"><b>Remove</b> <span class="glyphicon glyphicon-trash"></span></button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}