{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <body id="body_login">
        <div id="login">
            <form action="{{ url_for('login') }}" method="post">
                <fieldset>
                    <div class="logo">
                        👁
                    </div>
                    <div class="form-group">
                        <input autocomplete="off" id="input" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="input" name="password" placeholder="Password" type="password"/>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-dark" type="submit"><b>Log In</b></button>
                    </div>
                </fieldset>
            </form>
        </div>
    </body>
{% endblock %}