{% extends "layout.html" %}

{% block title %}
    Timeline
{% endblock %}

{% block main %}

<div class="container-title" id="timeline-title">
	<h1>
		<b>Timeline</b>
	</h1>
</div>

<!-- Check if user follows anyone -->
{% if photos_empty is sameas true %}
<h1 id="no-pictures">You don't follow anyone yet!</h1>
{% endif %}

<!-- Modal for posts -->
{% for post in uploads %}
<div class="button-images">
	<button name="modal" class="photo_modal" data-toggle="modal" data-target="#photomodal{{ post.id }}">
		<label for="modal" class="modal-label">
			<div class="timeline-container">
				<div class="timeline-description">
					<a href="{{ url_for('profile', username=post.username) }}">
						<label id="username">{{ post.username }} </label>
					</a>
					<label id="timestamp">{{ post.timestamp }} </label>
					<label id="score">{{ post.score }}
						<span class="glyphicon glyphicon-eye-open"></span>
					</label>
				</div>
				<img src="/upload/{{ post.upload }}" class="img-responsive">
				<div class="timeline-bottom">
					<label id="discription">{{ post.description }} </label>
					<button id="favourite" onclick="favouriteButtonClicked({{ user_id }}, {{ post.id }})" class="btn btn-red btn-fav">
						<span class="glyphicon glyphicon-plus"></span>
						<b> Add to favourites</b>
					</button>
				</div>
			</div>
		</label>
	</button>
</div>

<div class="modal fade" id="photomodal{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="photomodaltitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="row">
					<div class="col-sm-2"></div>
					<div class="col-sm-8">
						<a href="{{ url_for('profile', username=post.username) }}">
							<h4 class="modal-title" id="username">{{ post.username }} </h4>
						</a>
					</div>
					<div class="col-sm-2">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2"></div>
					<div class="col-sm-8">
						<h5 class="modal-title" id="timestamp">{{ post.timestamp }}</h5>
					</div>
					<div class="col-sm-2">
						<h5>{{ post.score }}
							<span class="glyphicon glyphicon-eye-open"></span>
						</h5>
					</div>
				</div>
			</div>
			<div class="modal-body">
				<p><img src="/upload/{{ post.upload }}" id="modal-image-timeline"></p>
				<p>{{ post.description }}</p>
			</div>
			<div class="modal-footer">
				<button id="favourite" onclick="favouriteButtonClicked({{ user_id }}, {{ post.id }})" class="btn btn-red">
					<span class="glyphicon glyphicon-plus"></span>
					<b> Add to favourites</b>
				</button>
			</div>
		</div>
	</div>
</div>
{% endfor %}

<!-- Show load-more button if needed -->
{% if show is sameas true %}
<div class="modal-footer">
	<button id="load_more" onclick="load_more('timeline')" class="btn btn-dark">
		<span class="glyphicon glyphicon-plus"></span>
		<b> Load more</b>
	</button>
</div>
{% endif %}

{% endblock %}