{% extends "layout.html" %}

{% block title %}
    Upload
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <form action="/upload" method="post" enctype="multipart/form-data" >
                <input type="file" name="file" id="file" class="inputfile" onchange="form.submit()" />
                <label for="file" class="btn btn-dark" style="font-size:14px; font-weight:700; padding-top: 9px;"><b>Upload <span class="glyphicon glyphicon-upload"></span></b></label><br><br>
             <fieldset>
            <div class="form-group">
                <input autocomplete="off" id="input" autofocus class="form-control" name="description" placeholder="Description" type="text"/>
            </div>
            </fieldset>
            </form>
        </div>
    </div>
</div>


{% endblock %}