{% extends "layout.html" %}

{% block title %}
    Upload
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <form action="/upload" method="post" enctype="multipart/form-data" >
                <input type="file" name="file" id="file" class="inputfile" onchange="form.submit()" />
                <label for="file" class="btn btn-dark" style="font-size:14px; font-weight:700; padding-top: 9px;"><b>Upload <span class="glyphicon glyphicon-upload"></span></b></label>
            </form>
        </div>
    </div><br>
<form id="form" onsubmit="return false;">
    <input style= width:40%; type="text" id="userInput" class="userInput"/>
    <input style="position:absolute; top:50%; left:5%; width:40%;" type="submit" onclick="othername();" class="othername" />
</form><br>
    <div class="col-5">
        <h1><b>Or use one of our favourites!</b></h1>


        {% for photo in url %}
            <img src={{ photo.urls.raw + url2 }}/>
        {% endfor %}
    </div>
</div>




<!--<div class="row">-->
<!--        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">-->
<!--            <div class="container">-->
<!--            {% for photo in url %}-->
<!--              <img src={{ photo.urls.raw + url2 }}/>-->
<!--            {% endfor %}-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">-->
<!--          One of three columns-->
<!--        </div>-->
<!--      </div>-->
<!--</div>-->
{% endblock %}